numpy
scipy
mne
xarray
netCDF4
tqdm
scikit-learn
matplotlib
pyqt5>=5.10,<5.14; platform_system == "Darwin"
pyqt5>=5.10,!=5.15.2,!=5.15.3; platform_system == "Linux"
pyqt5>=5.10,!=5.15.3; platform_system != "Linux" and platform_system != "Darwin"
pyqt5-sip
sip
vtk<9.2; platform_system == "Darwin"
vtk; platform_system != "Darwin"
pyvista>=0.30
pyvistaqt>=0.4