memory_profiler
sphinx<6.0
sphinx-gallery
sphinx_rtd_theme
sphinx-copybutton
sphinx-issues
numpydoc
nibabel
nilearn
pydata_sphinx_theme==0.13.1
typing-extensions
sphinx-autodoc-typehints
sphinxcontrib-bibtex
git+https://github.com/mne-tools/mne-bids@main
pooch
mne-qt-browser